.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  color: #d2d3d5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 64px;
  position: fixed;
  z-index: 3;
  width: 100%;

  @include isBelow(971px) {
    justify-content: center;
  }

  .navbar__hamburger {
    @include no-select;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;

    .btn-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 18px;
      padding-left: 0;
      padding-right: 0;
      border: none;
      background-color: transparent;
      color: inherit;
      cursor: pointer;
      transition: 0.3s ease;

      &:focus {
        outline: none;
      }

      &__text {
        margin-left: 10px;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1;
      }

      &__bars {
        display: block;
        position: relative;
        width: 23px;
        height: 2px;
        background-color: white;
        transition: 0.3s;

        &:before,
        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: white;
          transition: 0.3s;
        }

        &:before {
          transform: translate(0, -8px);
        }

        &:after {
          transform: translate(0, 8px);
        }
      }

      &.menu-open {
        .btn-menu__bars {
          background-color: transparent;

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .navbar__title {
    color: #f0f1f1;
    margin-right: min(30px, 10%);
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    font-family: "Permanent Marker", cursive;

    @include xs {
      text-align: center;
      margin-bottom: 0;
    }

    .navbar__logo {
      margin-right: 5px;
      height: 50px;
      width: auto;
    }
  }

  .navbar__links {
    flex: 1;

    ul {
      display: flex;

      li {
        list-style: none;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        font-size: 0.95rem;
        transition: color 0.2s ease;

        &:not(:last-child) {
          margin-right: 30px;
        }

        &:hover {
          color: #ffc344;
        }

        .router-link-active {
          color: #ffc344;
        }
      }
    }
  }

  .navbar__append {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.95rem;

    .append__language {
      margin-right: 30px;
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;

      img {
        height: 20px;
        margin-right: 5px;
      }
    }

    .append__contact {
      border: 1px solid #d2d3d5;
      padding: 8px 20px;
      border-radius: 3rem;
      transition: 200ms ease;
      transition-property: background-color, color, border-color;
      cursor: pointer;

      &:hover {
        background-color: #ffc344;
        border-color: #f7b72d;
        color: black;
      }
    }
  }

  .navbar__aside {
    $width: min(40vw, 300px);

    position: fixed;
    max-width: $width;
    min-width: 230px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    transform: translateX(-300px);
    transition: transform 0.5s ease;

    &.sidebar--open {
      transform: translateX(0);
    }

    .sidebar {
      position: relative;
      width: 100%;
      height: 100%;
      padding-top: 20px;

      .sidebar__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px,
          rgba(17, 17, 26, 0.1) 0px 24px 80px;
        background-color: rgba(31, 30, 30, 0.5);
        border-color: rgb(85, 84, 84);
        backdrop-filter: blur(10px);
        z-index: -1;
      }

      .sidebar__title {
        text-align: center;

        .sidebar__logo {
          margin-left: auto;
          margin-right: auto;
          height: 50px;
          margin-bottom: 20px;
        }
      }

      .sidebar__links {
        .link__item {
          padding: 15px 20px;
          cursor: pointer;
          transition: 100ms ease;

          &.link__item--active {
            background-color: #ffc344;
            color: black;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              height: 100%;
              width: 4px;
              top: 0;
              right: 0;
              background-color: #fe7d43;
            }
          }

          &:hover {
            background-color: #ffc344;
            color: black;
          }

          a {
            display: inline-block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
