.navbar-container {
  width: 100%;
}

.navbar {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  color: #d2d3d5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 64px;

  .navbar__title {
    color: #f0f1f1;
    margin-right: min(50px, 10%);
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    .navbar__logo {
      margin-right: 5px;
      height: 40px;
      width: auto;
    }
  }

  .navbar__link {
    flex: 1;

    ul {
      display: flex;

      li {
        list-style: none;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        font-size: 0.95rem;

        &:not(:last-child) {
          margin-right: 30px;
        }

        &:hover {
          color: #ffc344;
        }
      }
    }
  }

  .navbar__append {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .append__language {
      margin-right: 30px;
    }

    .append__contact {
      border: 1px solid #d2d3d5;
      padding: 8px 20px;
      border-radius: 3rem;
    }
  }
}
